* {
    font-family: sans-serif;
}

body {
    background: lightblue;
  }


h1 {
    color: red;
    text-align: center;
}

div {
    text-align: center;
}

label {
    font-size: 18pt;
}

input[type=text] {
    background-color: rgb(240, 29, 29);
    color: white;
    border: none;
    font-size: 18pt;
    width: 300px;
    transition-duration: 0.4s;
  }

input[type=text]:hover {
    background-color:rgb(211, 0, 0);
  }

input[type=date] {
    background-color: silver;
    font-size: 18pt;
    width: 300px;
    text-align: center;
    transition-duration: 0.4s;
}

input[type=date]:hover {
    background-color: rgb(172, 172, 172)
}

button {
    font-size: 18pt;
    width: 150px;
    text-align: center;
    transition-duration: 0.4s;
}

button:hover {
    background-color: silver;
}

#searches {
    text-align: center;
    display: none;
  }

#errorMessage {
    color: red;
    font-size: 18pt;
    font-weight: bold;
    display: none;
}

#videos {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 240px;
    height: 135px;
    object-fit: cover;
}

tbody {
    text-align: left;
}

.center {
    margin-left: auto;
    margin-right: auto;
}
